<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tamanna_enterprise"
        android:roundIcon="@drawable/ic_tamanna_enterprise"
        android:label="Tamanna Enterprise"
        android:supportsRtl="true"
        android:theme="@style/Theme.TamannaEnterprise">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".purchase.MemoScannerActivity"
            android:exported="false" />

        <activity
            android:name=".purchase.AddPurchaseActivity"
            android:exported="false" />

        <activity
            android:name=".purchase.PurchaseActivity"
            android:exported="false" />

        <activity
            android:name=".purchase.SupplierDueActivity"
            android:exported="false" />

        <activity
            android:name=".sales.NewSaleActivity"
            android:exported="false" />

        <activity
            android:name=".due.CustomerDueActivity"
            android:exported="false" />

        <activity
            android:name=".sales.SalesActivity"
            android:exported="false" />

        <activity
            android:name=".scanner.BarcodeScannerActivity"
            android:exported="false" />

        <activity
            android:name=".sales.SalesScanActivity"
            android:exported="false" />

        <activity
            android:name=".product.ProductActivity"
            android:exported="false" />

        <activity
            android:name=".product.AddProductActivity"
            android:exported="false" />

        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".stock.StockActivity"
            android:exported="false" />

        <activity
            android:name=".stock.StockAlertActivity"
            android:exported="false" />

        <activity
            android:name=".reports.ReportsActivity"
            android:exported="false" />

        <activity
            android:name=".profit.ProfitActivity"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".partner.PartnerActivity"
            android:exported="false" />

        <activity
            android:name=".partner.PartnerLedgerActivity"
            android:exported="false" />

        <activity
            android:name=".finance.FinanceActivity"
            android:exported="false" />

        <activity
            android:name=".security.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".security.UserManagementActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
